#--index-url http://pip.baidu.com/root/baidu/+simple/
#--trusted-host pip.baidu.com
#--index-url https://pypi.tuna.tsinghua.edu.cn/simple
#--trusted-host pypi.tuna.tsinghua.edu.cn
#-e .
#PATH=C:\Applications\Anaconda3;C:\Applications\Anaconda3\Library\mingw-w64\bin;C:\Applications\Anaconda3\Library\usr\bin;C:\Applications\Anaconda3\Library\bin;C:\Applications\Anaconda3\Scripts;C:\Applications\Anaconda3\bin;C:\Applications\Anaconda3\condabin;C:\Applications\Anaconda3;C:\Applications\Anaconda3\Library\mingw-w64\bin;C:\Applications\Anaconda3\Library\usr\bin;C:\Applications\Anaconda3\Library\bin;C:\Applications\Anaconda3\Scripts;
scikit-learn
pandas
tushare
pytdx
requests-html
pyecharts
# windows only
gm